<div class="main-background">
  <div class="overlay">
    <div class="overlay-text">
      <h1 class="title">Welcome to WingTip Wanderlust</h1>
      <h2 class="subtitle mt-3">Soaring Through Skies, Roaming the Earth</h2>
      <div class="button-group mt-4">
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>
    </div>
  </div>
</div>
