<div class="main-background">
  <div class="overlay">
    <div class="overlay-text text-center">
      <h1 class="title">
        <i class="bi bi-airplane-takeoff"></i> Welcome to WingTip Wanderlust
      </h1>
      <h2 class="subtitle mt-3">Soaring Through Skies, Roaming the Earth</h2>
      <div class="button-group mt-4">
        <a href="/register" class="btn custom-btn"
          ><i class="bi bi-person-plus-fill"></i> Register</a
        >
        <a href="/login" class="btn custom-btn"
          ><i class="bi bi-door-open-fill"></i> Login</a
        >
      </div>
    </div>
  </div>
</div>
