.main-background {
    background: url('https://images.unsplash.com/photo-1531902118092-4d55c50cc5fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: #fff;
    font-size: 32px;
}